@media screen and (max-width: 1155px) {

}

@media screen and (max-width: 1024px) {
  .img-instructions {
    width: 250px;
  }
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 47px
  }

  h2 {
    font-size: 43px
  }

  h3 {
    font-size: 38px;
  }

  h4 {
    font-size: 32px;
  }

  h5 {
    font-size: 20px
  }

  h6 {
    font-size: 17px
  }

  .h-md-100 {
    height: auto;
  }

  .img-instructions {
    width: 250px;
  }

  .section-benefits {
    padding: 60px 0px 60px 0px !important;
  }


}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 45px
  }

  h2 {
    font-size: 41px
  }

  h3 {
    font-size: 36px;
  }

  h4 {
    font-size: 30px;
  }

  h5 {
    font-size: 18px
  }

  h6 {
    font-size: 15px
  }

  .h-md-100 {
    height: auto;
  }

  .btn-xs-full-width {
    width: 100%;
  }

  .img-instructions {
    width: 200px;
  }

  .section-benefits {
    padding: 50px 0px 50px 0px !important;
  }


}